{% extends "base.html" %}
{% block body %}

<!-- Page Content -->
<div class="content success-page-cont">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Success Card -->
                <div class="card success-card">
                    <div class="card-body">
                        <div class="success-cont">
                            <i class="fas fa-check"></i>
                            <h3>! انتظر حتي يتم التاكد من البيانات</h3>

                            <a href="{% url 'doctor:doctors_list' %}" class="btn btn-primary view-inv-btn mt-3">الصفحه الرئيسيه</a>
                        </div>
                    </div>
                </div>
                <!-- /Success Card -->
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

{% endblock body %}