{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}
    
    
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form mydocform %}
                            <button class="btn btn-primary btn-block btn-lg login-btn" type="submit">تاكيد البيانات</button>
                            <div class="login-or">
                        </form>
                    </div> <!-- /Login Tab Content -->

                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

{% endblock body %}
