{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row" style="flex-direction: row-reverse;">

				<!-- Profile Sidebar -->
				{% include 'doctor/Profile_Sidebar.html' %}

				<!-- /Profile Sidebar -->

			<div class="col-md-7 col-lg-8 col-xl-9">

				<!-- Basic Information -->
				<div class="card" dir="rtl">
					<div class="card-body">
						<div class="row form-row">


							<div class="col-md-6">
								<div class="form-group">
									<form form method="POST" enctype="multipart/form-data">
										{% csrf_token %}
										{% bootstrap_form userform %}
										{% bootstrap_form doctor_profileform %}

										<div class="submit-section submit-btn-bottom">
											<button type="submit" class="btn btn-primary submit-btn">حفظ
												التغيير</button>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /Basic Information -->

			</div>
		</div>

	</div>

</div>
<!-- /Page Content -->
{% endblock body %}