{% extends 'base.html' %}
{% load static %}
{% block body %}


<!-- Home Banner -->
<section class="section section-search">
	<div class="container-fluid">
		<div class="banner-wrapper" dir="rtl">
			<div class="banner-header">
				<h1 class=" text-white" style="display: flex;">مودرن لاب</h1>
				<h1 class=" text-white" style="display: flex;">ابحث عن دكتور ، احجز موعد</h1>
				<p style="display: flex;">اكتشف أفضل الأطباء والعيادات والمستشفيات في المدينة الأقرب إليك.</p>
			</div>

			<!-- Search -->
			<div class="search-box">
				<form action="templateshub.net">
					<div class="form-group search-location">
						<input type="text" class="form-control" placeholder="البحث بالموقع">
						<span class="form-text" style="display: flex;" dir="rtl">بناء علي موقعك </span>
					</div>
					<div class="form-group search-info">
						<input type="text" class="form-control" placeholder="الأطباء ،العيادات والمستشفيات ،الأمراض " type='text' name='profile_doctor' id='profile_doctor'>
						<span class="form-text" dir="rtl" style="display: flex;"> مثال: فحص الأسنان ، السكر ،
							معامل</span>
					</div>
					<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i>
						<span>Search</span></button>
				</form>
			</div>
			<!-- /Search -->

		</div>
	</div>
</section>
<!-- /Home Banner -->



<!-- Popular Section -->
<section class="section section-doctor">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="section-header ">
					<h2>حجز العيادات</h2>
					<p>استكشف افضل عيادة </p>
				</div>
				<div class="about-content">
					<p>تساعدك مودرن لاب في العثور على أفضل العيادات والمختبرات الطبية لك للحصول على رعاية صحية
						لحياة أفضل

					</p>
					<p>هدفنا الحفاظ علي صحتك صحتك ، مودرن لاب تساعدك على الحفاظ على صحتك ، سجل الدخول الآن
						واكتشف أفضل العيادات والمختبرات للحفاظ على صحتك</p>
					<a href="javascript:;">اقرا المزيد</a>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="doctor-slider slider">
					{% for d in doctors %}

					{% if d.profile_doctor.name and d.profile_doctor.specialization and d.profile_doctor.active_doctor and d.profile_doctor.address and d.profile_doctor.address_detail and d.profile_doctor.price %}


					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="{% url 'doctor:doctor_detail' d.profile_doctor.slug %}">

								{% if d.profile_doctor.image %}
								<img class="img-fluid" alt="User Image" src="{{d.profile_doctor.image.url}}">
								{% else %}
								<img class="img-fluid" alt="User Image"
									src="{% static 'assets/img/doctors/Default-Profile_doctor.jpg' %}">
								{% endif %}


							</a>

							<a href="javascript:void(0)" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>

						</div>

						<div class="pro-content">
							<h3 class="title">
								<a href="doctor-profile.html">{{d.profile_doctor.user.first_name}} {{d.profile_doctor.user.last_name}}</a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">{{d.profile_doctor.specialist_doctor}}</p>
							<div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<span class="d-inline-block average-rating">(17)</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i>{{d.profile_doctor.address}} : {{d.profile_doctor.address_detail}}
								</li>
								<li>
									<i class="far fa-clock"></i> مدة الانتظار : {{d.profile_doctor.waiting_time}} دقائق
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i> الكشف {{d.profile_doctor.price}} ج
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="{% url 'doctor:doctor_detail' d.profile_doctor.slug %}" class="btn view-btn">عرض الصفحة </a>
								</div>
								<div class="col-6">
									<a href="{% url 'client:booking' d.profile_doctor.slug %}" class="btn book-btn">حجز الان </a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
					{% endif %}
					{% endfor %}


				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Popular Section -->


<!-- Popular Section -->
<section class="section section-doctor">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="section-header ">
					<h2> المعامل الطبية ومراكز الاشعة</h2>
					<p>استكشف افضل معمل طبي </p>
				</div>
				<div class="about-content">
					<p>تساعدك مودرن لاب في العثور على أفضل العيادات والمختبرات الطبية لك للحصول على رعاية صحية
						لحياة أفضل</p>
					<p>هدفنا الحفاظ علي صحتك صحتك ، مودرن لاب تساعدك على الحفاظ على صحتك ، سجل الدخول الآن
						واكتشف أفضل العيادات والمختبرات للحفاظ على صحتك</p>
					<a href="javascript:;">اقرا المزيد</a>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="doctor-slider slider">




					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="doctor-profile.html">
								<img class="img-fluid" alt="User Image" src="assets/img/logo (1).png">
							</a>
							<a href="javascript:void(0)" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>
						</div>
						<div class="pro-content">
							<h3 class="title">
								<a href="doctor-profile.html">معامل البرج</a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">جميع انواع التحاليل والفحوصات </p>
							<div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<span class="d-inline-block average-rating">(17)</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i> السنبلاوين 9 برج النمس بجوار بنك
									القاهرة

								</li>
								<li>
									<i class="far fa-clock"></i> مدة الانتظار : 5 دقائق
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i> الكشف :200 ج
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">عرض الصفحة </a>
								</div>
								<div class="col-6">
									<a href="booking.html" class="btn book-btn">حجز الان </a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->


					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="doctor-profile.html">
								<img class="img-fluid" alt="User Image" src="assets/img/logo (1).png">
							</a>
							<a href="javascript:void(0)" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>
						</div>
						<div class="pro-content">
							<h3 class="title">
								<a href="doctor-profile.html">معامل البرج</a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">جميع انواع التحاليل والفحوصات </p>
							<div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<span class="d-inline-block average-rating">(17)</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i> السنبلاوين 9 برج النمس بجوار بنك
									القاهرة

								</li>
								<li>
									<i class="far fa-clock"></i> مدة الانتظار : 5 دقائق
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i> الكشف :200 ج
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">عرض الصفحة </a>
								</div>
								<div class="col-6">
									<a href="booking.html" class="btn book-btn">حجز الان </a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->

					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="doctor-profile.html">
								<img class="img-fluid" alt="User Image" src="assets/img/download.jpg">
							</a>
							<a href="javascript:void(0)" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>
						</div>
						<div class="pro-content">
							<h3 class="title">
								<a href="doctor-profile.html">معامل المختبر </a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">جميع انواع التحاليل والفحوصات </p>
							<div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<span class="d-inline-block average-rating">(17)</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i> المنصورة حي الجامعة
								</li>
								<li>
									<i class="far fa-clock"></i> مدة الانتظار : 5 دقائق
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i> الكشف :200 ج
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">عرض الصفحة </a>
								</div>
								<div class="col-6">
									<a href="booking.html" class="btn book-btn">حجز الان </a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->

					<!-- Doctor Widget -->
					<div class="profile-widget">
						<div class="doc-img">
							<a href="doctor-profile.html">
								<img class="img-fluid" alt="User Image" src="assets/img/download2.png">
							</a>
							<a href="javascript:void(0)" class="fav-btn">
								<i class="far fa-bookmark"></i>
							</a>
						</div>
						<div class="pro-content">
							<h3 class="title">
								<a href="doctor-profile.html">مركز النيل للاشعة </a>
								<i class="fas fa-check-circle verified"></i>
							</h3>
							<p class="speciality">جميع انواع الاشعة </p>
							<div class="rating">
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<i class="fas fa-star filled"></i>
								<span class="d-inline-block average-rating">(17)</span>
							</div>
							<ul class="available-info">
								<li>
									<i class="fas fa-map-marker-alt"></i> المنصورة حي الجامعة
								</li>
								<li>
									<i class="far fa-clock"></i> مدة الانتظار : 5 دقائق
								</li>
								<li>
									<i class="far fa-money-bill-alt"></i> الكشف :200 ج
									<i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
								</li>
							</ul>
							<div class="row row-sm">
								<div class="col-6">
									<a href="doctor-profile.html" class="btn view-btn">عرض الصفحة </a>
								</div>
								<div class="col-6">
									<a href="booking.html" class="btn book-btn">حجز الان </a>
								</div>
							</div>
						</div>
					</div>
					<!-- /Doctor Widget -->
1
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Clinic and Specialities -->
<section class="section section-specialities">
	<div class="container-fluid">
		<div class="section-header text-center">
			<h2>العيادات والتخصص</h2>
			<p class="sub-title">اكتشف أفضل الأطباء والعيادات والمستشفيات في المدينة الأقرب إليك.

			</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-9">
				<!-- Slider -->
				<div class="specialities-slider slider">

					{% for specialization in specializations %}
					<!-- Slider Item -->
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<a href="{% url 'doctor:show_Specialization_detail' specialization.id %}"> <img src="{{specialization.image.url}}" class="img-fluid" alt="Speciality">
								<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>
						<p>{{specialization.spec}}</p> </a>
					</div>
					<!-- /Slider Item -->

					{% endfor %}
				</div>
				<!-- /Slider -->

			</div>
		</div>
	</div>
</section>
<!-- Clinic and Specialities -->

<!-- Availabe Features -->
<section class="section section-features">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 features-img">
				<img src="{% static 'assets/img/features/feature.png' %}" class="img-fluid" alt="Feature">
			</div>
			<div class="col-md-7">
				<div class="section-header">
					<h2 class="mt-2" style="display: flex;direction: rtl;">الميزات المتوفرة في عيادتنا</h2>
					<p style="display: flex;direction: rtl;">مودرن لاب توفر لك العديد من الخدمات ،حيث تستطيع
						معرفة نتيجة تحاليلك من خلال موقعنا واقتراح افضل الاطباء المناسبة لحالتك </p>
				</div>
				<div class="features-slider slider">
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="{% static 'assets/img/features/feature-01.jpg' %}" class="img-fluid" alt="Feature">
						<p>علاج طبيعي</p>
					</div>
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
						<p>اشعة</p>
					</div>
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
						<p>مستشفي</p>
					</div>
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
						<p>معمل طبي</p>
					</div>
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
						<p>عيادة</p>
					</div>
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
						<p>صيدلية</p>
					</div>
					<!-- /Slider Item -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Availabe Features -->

<!-- contact -->
<div>
	<div class="contactform">
		<form dir="rtl">
			<h3>تواصل معنا</h3>
			<input type="text" name="" id="" placeholder="الاسم ">
			<input type="email" name="" id="" placeholder="الايميل">
			<input type="number" name="" id="" placeholder="رقم التلفون">
			<textarea style="height:110px">اكتب رسالتك هنا</textarea>
			<button>send message</button>
		</form>
		<div>
			<img src="{% static 'assets/img/features/feature.png' %}" />
		</div>
	</div>
</div>

<!-- contact -->
{% endblock body %}