{% load static %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    {% if user.profile_doctor.image %}
                    <img src="{{user.profile_doctor.image.url}}" alt="User Image">
                    {% else %}
                    <img src="{% static 'assets/img/doctors/Default-Profile_doctor.jpg' %}" alt="User Image">
                    {% endif %}
                </a>
                <div class="profile-det-info">
                    <h3>Dr. {{user.profile_doctor.user.first_name}} {{user.profile_doctor.user.last_name}}</h3>

                    <div class="patient-details">
                        <h5 class="mb-0">{{user.profile_doctor.specialist_doctor}}</h5>
                    </div>
                </div>
            </div>
        </div>


        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li>
                        <a href="{% url 'doctor:doctor-dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>لوحه التحكم</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor:client_slot_list' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>جدول المواعيد</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor:my-patients' user.profile_doctor.slug %}">
                            <i class="fas fa-user-injured"></i>
                            <span>المرضي</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor:doc_home' %}">
                            <i class="fas fa-hourglass-start"></i>
                            <span> المواعيد المتاحة</span>
                        </a>
                    </li>
{% comment %}                     <li>
                        <a href="reviews.html">
                            <i class="fas fa-star"></i>
                            <span>اراء</span>
                        </a>
                    </li> {% endcomment %}

                    <li>
                        <a href="{% url 'doctor:update_profile' user.profile_doctor.slug %}">
                            <i class="fas fa-user-cog"></i>
                            <span>اعدادات الملف الشخصي</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">
                            <i class="fas fa-lock"></i>
                            <span>تغيير كلمه المرور</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'doctor:logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>تسجيل الخروج</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
</div>