{% load static %}
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    {% if user.profile_doctor.image %}
                    <img class="img-fluid" alt="User Image" src="{{user.profile_doctor.image.url}}">

                    {% else %}
                    <img class="img-fluid" alt="User Image"
                        src="{% static 'assets/img/doctors/Default-Profile_doctor.jpg' %}">

                    {% endif %}
                </a>
                <div class="profile-det-info">
                    <h3>Dr. {{user.profile_doctor.name}}</h3>

                    <div class="patient-details">
                        <h5 class="mb-0">{{user.profile_doctor.specialist_doctor}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li>
                        <a href="doctor-dashboard.html">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor:client_slot_list' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="my-patients.html">
                            <i class="fas fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li >  {% comment %}  class="active" {% endcomment %}
                        <a href="{% url 'doctor:doc_home' %}">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li>
                        <a href="reviews.html">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'doctor:update_profile' user.profile_doctor.slug %}">
                            
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="social-media.html">
                            <i class="fas fa-share-alt"></i>
                            <span>Social Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor:logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->

</div>