{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'doctor:doctors_list' %}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Schedule Timings</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">Schedule Timings</h2>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			{% include 'doctor/Profile_Sidebar.html' %}


			<div class="col-md-7 col-lg-8 col-xl-9">

				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Schedule Timings</h4>
								<div class="profile-box">
									<form action="{% url 'doctor:add_slot' %}" method="post">
										{% csrf_token %}
										<input type="date" name="date" id="date" class="form-control" min="{{t}}">
										<input type="time" name="start" id="time" class="form-control">
										<input type="number" name="no_hours" id="" class="form-control"
											placeholder="Number of hours available"> <br>
										<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Add an
											appointment</button>
									</form>
									<div class="row">
										<div class="col-md-12">
											<div class="card schedule-widget mb-0">
												<!-- Schedule Header -->
												<div class="schedule-header">
													<!-- Schedule Nav -->
													<div class="schedule-nav">
														<ul class="nav nav-tabs nav-justified">

															{% for s in dates %}
															<li class="nav-item">
																<a class="nav-link"
																	href="{% url 'doctor:doc_home_slot' s %}">{{ s|date:"j M Y" }}</a>
															</li>
															{% empty %}
															No active schedules.
															{% endfor %}
														</ul>
													</div>
													<!-- /Schedule Nav -->
												</div>
												<!-- /Schedule Header -->
												<!-- Schedule Content -->


												<!-- Monday Slot -->
												<div id="slot_monday" class="tab-pane fade show active">
													<h4 class="card-title d-flex justify-content-between">
														<span>Time Slots</span>
													</h4>

													<div class="tab-content schedule-cont">
														<!-- Monday Slot -->
														<div id="slot_monday" class="tab-pane fade show active">
															<!-- Slot List -->
															<div class="doc-times">
																{% for slot in slots %}
																<div class="doc-slot-list">
																	{{slot.start_time|date:"f A"}}

																	<a href="{% url 'doctor:delete_slot' slot.id %}"
																		class="delete_schedule">
																		{% if not slot.confirmed %}
																		<i class="fa fa-times"></i>
																		{% endif %}
																	</a>

																</div>
																{% endfor %}
															</div>
															<!-- /Slot List -->
														</div>
													</div>
													<!-- /Schedule Content -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->
	{% endblock body %}