{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-8 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Search</li>
					</ol>
				</nav>
				<h2 class="breadcrumb-title">2245 matches found for : Dentist In Bangalore</h2>
			</div>
			<div class="col-md-4 col-12 d-md-block d-none">
				<div class="sort-by">
					<span class="sort-title">Sort by</span>
					<span class="sortby-fliter">
						<select class="select">
							<option>Select</option>
							<option class="sorting">Rating</option>
							<option class="sorting">Popular</option>
							<option class="sorting">Latest</option>
							<option class="sorting">Free</option>
						</select>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">


				<!-- Search Filter -->
				<form method='GET'>
					
					{% bootstrap_form myfilter.form %}
					<button class="btn btn-primary btn-block btn-lg login-btn" type="submit">Search</button>
				
				</form>
				<!-- /Search Filter -->

			</div>

			<div class="col-md-12 col-lg-8 col-xl-9">

				{% for doctor in doctors %}
				{% if doctor.name and doctor.specialization and doctor.active_doctor %}


				<!-- Doctor Widget -->
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="{% url 'doctor:doctor_detail' doctor.slug %}">
										{% if doctor.image %}
										<img class="img-fluid" alt="User Image"
											src="{{doctor.image.url}}">

										{% else %}
										<img class="img-fluid" alt="User Image"
											src="{% static 'assets/img/doctors/Default-Profile_doctor.jpg' %}">

										{% endif %}
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a
											href="{% url 'doctor:doctor_detail' doctor.slug %}">Dr.{{doctor.name}}
											</a></h4>
									<p class="doc-speciality">{{doctor.specialist_doctor}}
									</p>
									<h5 class="doc-department"><img
											src="{{doctor.specialization.image.url}}" class="img-fluid"
											alt="Speciality">{{doctor.specialization}}</h5>
									<div class="rating">
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star filled"></i>
										<i class="fas fa-star"></i>
										<span class="d-inline-block average-rating">(17)</span>
									</div>
									<div class="clinic-details">
										<p class="doc-location"><i class="fas fa-map-marker-alt"></i>
											{{doctor.address_detail}} :
											{{doctor.address}}</p>
										<ul class="clinic-gallery">
											{% for img in doctor.image_doctor.all %}
											<li>
												<a href="{{img.image.url}}" data-fancybox="gallery">
													<img src="{{img.image.url}}" alt="Feature">
												</a>
											</li>
											{% endfor %}
										</ul>
									</div>
									<div class="clinic-services">
										{% for tag in doctor.tags.all %}
										<span>{{tag}}</span>

										{% endfor %}
									</div>
								</div>
							</div>
							<div class="doc-info-right">
								<div class="clini-infos">
									<ul>
										<li><i class="far fa-thumbs-up"></i> 98%</li>
										<li><i class="far fa-comment"></i> 17 Feedback</li>
										<li><i class="fas fa-map-marker-alt"></i>
											{{doctor.address_detail}} :
											{{doctor.address}}</li>
										<li><i class="far fa-money-bill-alt"></i> EGP {{doctor.price}}<i
												class="fas fa-info-circle" data-toggle="tooltip"
												title="Lorem Ipsum"></i> </li>
									</ul>
								</div>
								<div class="clinic-booking">
									<a class="view-pro-btn" href="{% url 'doctor:doctor_detail' doctor.slug %}">View
										Profile</a>
									<a class="apt-btn" href="{% url 'client:booking' doctor.slug %}">Book
										Appointment</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Doctor Widget -->
				{% endif %}
				{% endfor %}


				<div class="load-more text-center">
					<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- /Page Content -->
{% endblock body %}