{% load static %}


{% comment %} {% for specialization in specializations %}
<a href="{% url 'doctor:show_Specialization_detail' specialization.id %} ">
  <h1> {{specialization}}</h1>
</a>
{% endfor %}
{% endcomment %}

{% for doc_specializations in doc_specialization %}
{% if doc_specializations.name and doc_specializations.active_doctor %}
<a href="{% url 'doctor:doctor_detail' doc_specializations.slug %}">
  <p>{{doc_specializations.name}}</p>
</a>
{{doc_specializations.price}}
{{doc_specializations.slug}}



{% endif %}
{% endfor %}



{{mydocform}}
{% comment %}

{% for slot in slots %}
{% if slot.taken %}{% if slot.confirmed %}<a data-bs-toggle="modal" data-bs-target="#taken{{forloop.counter}}">
  <li class="list-group-item text-center" style="background-color: rgb(192, 247, 206);">
    <b>{{slot.start_time}} &nbsp;<span class="badge rounded-pill text-bg-success">Taken</span></b></li>
</a>
{% else %}<a data-bs-toggle="modal" data-bs-target="#confirm{{forloop.counter}}">
  <li class="list-group-item text-center" style="background-color: rgb(223, 247, 192);">
    <b>{{slot.start_time}} &nbsp;<span class="badge rounded-pill text-bg-warning">Verify and
        confirm</span></b></li>
</a>
{% endif %}{% else %}<li class="list-group-item text-center" style="background-color: rgb(192, 218, 247);">
  <b>{{slot.start_time}} &nbsp;<span class="badge rounded-pill text-bg-info">Empty</span></b>
  <a data-bs-toggle="modal" data-bs-target="#delete{{forloop.counter}}"><span class="badge bg-danger rounded-pill"><i
        class="bi bi-trash-fill"></i></span></a></li>
{% endif %}



<!-- Modal - Delete slot-->
<div class="modal fade" id="delete{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm slot</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Date and time : {{slot.date}} - {{slot.start_time}} <br>
        Confirm delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary" href="{% url 'doctor:delete_slot' slot.id %}">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Details of slot-->
<div class="modal fade" id="taken{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm slot</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Date and time : {{slot.date}} - {{slot.start_time}} <br>
        Name: {{slot.taken.user.first_name}} {{slot.taken.user.last_name}} <br>
        Place: {{slot.taken.place}} <br>
        Age: {{slot.taken.age}} <br>
        Health history: {{slot.taken.health_history}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - Confirm slot-->
<div class="modal fade" id="confirm{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm slot</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Date and time : {{slot.date}} - {{slot.start_time}} <br>
        Name: {{slot.taken.user.first_name}} {{slot.taken.user.last_name}} <br>
        Place: {{slot.taken.place}} <br>
        Age: {{slot.taken.age}} <br>
        Health history: {{slot.taken.health_history}}
        <br><br>
        <b> Confirm booking?</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{% url 'doctor:cancel_booking' slot.id %}">Cancel</a>
        <a class="btn btn-primary" href="{% url 'doctor:confirm_booking' slot.id %}">Confirm</a>
      </div>
    </div>
  </div>
</div>


{% endfor %} {% endcomment %}

