{% extends "base.html" %}
{% block body %}
	
	
		<!-- Breadcrumb -->
		<div class="breadcrumb-bar">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-12 col-12">
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'doctor:doctors_list' %}">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Profile</li>
							</ol>
						</nav>
						<h2 class="breadcrumb-title">Profile</h2>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content success-page-cont">
			<div class="container-fluid">

				<div class="row justify-content-center">
					<div class="col-lg-6">

						<!-- Success Card -->
						<div class="card success-card">
							<div class="card-body">
								<div class="success-cont">
									<i class="fas fa-check"></i>
									<h3>Password change Successfully!</h3>
									
									<a href="{% url 'doctor:doctors_list' %}" class="btn btn-primary view-inv-btn mt-3">Home</a>
								</div>
							</div>
						</div>
						<!-- /Success Card -->

					</div>
				</div>

			</div>
		</div>
		<!-- /Page Content -->

		{% endblock body %}
